.scroll-to-top {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 30px;
  right: 20px;
  padding: 0px 15px;
  font-size: 20px;
  background-color: rgb(223, 72, 70);
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  z-index: 1000; /* Kad mygtukas būtų virš visų kitų elementų */
  opacity: 0.5; /* Šiek tiek permatomas */
  transition: opacity 0.2s; /* Sklandus perėjimas */
}

.scroll-to-top:hover {
  opacity: 1;
  background-color: rgb(223, 72, 70);
  border: none;
  color: white;
}
