.main-container-aboutus {
  background-color: rgb(223, 213, 194, 0.3);
  padding: 40px 20px;
}

.container-aboutus {
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.aboutus-content {
  width: auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #cdb7a1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 10px;
}

.aboutus-text h1 {
  text-align: center;
}
.aboutus-text {
  text-align: left;
}
.aboutus-text-p {
  font-size: 18px;
}

.client-container {
  width: 55%;
  background-color: #cdb7a1;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 10px;
}

.client-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  width: 350px;
}

.client-row:last-child {
  margin-bottom: 0;
}

.numbers {
  font-size: 2rem;
  font-weight: 500;
  color: #f0f8ff;
  text-align: center;
}

.client-text {
  color: #f0f8ff;
  font-size: 20px;
  font-weight: 500;
}
/* 
@media (max-width: 768px) {
  .aboutus-content {
    flex-direction: column;
    align-items: center;
  }

  .aboutus-text,
  .client-counter {
    width: 100%;
  }

  .client-row {
    flex-direction: column;
    align-items: flex-start;
  }

  .client-text {
    margin-left: 0;
    margin-top: 5px;
  }
} */
