.services-main-container {
  display: grid;
  place-items: center;
  padding-top: 1rem;
  padding-bottom: 4rem;
  background: #cdb7a1;
}

.img-container {
  display: flex;
  width: 87%;
  justify-content: space-evenly;
  padding: 30px 0px 40px 0px;
  background-color: #f5f2ed;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.img-article {
  position: relative;
  overflow: hidden;
}

.img-card {
  width: 300px;
  height: 100%;
  border-radius: 1.5rem;
}

.img-info {
  width: 100px;
  background-color: rgba(223, 72, 70, 0.9);
  box-shadow: 0 8px 24px #f9f9f9;
  border-radius: 1rem;
  position: absolute;
  bottom: -9rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  opacity: 0;
  transition: opacity 1s 1s;
  padding-inline: 2.5rem;
  text-align: center;
}

.img-description {
  display: block;
  margin-bottom: 0.25rem;
  color: white;
}

.img-title {
  color: white;
  margin-bottom: 0.75rem;
}

.img-article:hover .img-info {
  animation: services-show-data 1s forwards;
  opacity: 1;
  transition: opacity 0.3s;
}

.img-article:hover {
  animation: services-remove-overflow 2s forwards;
}

.img-article:not(:hover) {
  animation: services-show-overflow 2s forwards;
}

.img-article:not(:hover) .img-info {
  animation: services-remove-data 1s forwards;
}

@keyframes services-show-data {
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(-7rem);
  }
}

@keyframes services-remove-overflow {
  to {
    overflow: initial;
  }
}

@keyframes services-remove-data {
  0% {
    transform: translateY(-7rem);
  }
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(0.5rem);
  }
}

@keyframes services-show-overflow {
  0% {
    overflow: initial;
    pointer-events: none;
  }
  50% {
    overflow: hidden;
  }
}

/*=============== BREAKPOINTS ===============
For small devices 
@media screen and (max-width: 340px) {
    .container {
      margin-inline: 1rem;
    }
  
    .card__data {
      width: 250px;
      padding: 1rem;
    }
  }
  
  For medium devices 
  @media screen and (min-width: 768px) {
    .card__container {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 1.5rem;
    }
  }
  
  For large devices 
  @media screen and (min-width: 1120px) {
    .container {
      height: 100vh;
    }
  
    .card__container {
      grid-template-columns: repeat(3, 1fr);
    }
    .card__img {
      width: 348px;
    }
    .card__data {
      width: 316px;
      padding-inline: 2.5rem;
    }
  } */
