.footer {
  background-color: #cdb7a1;
  padding: 20px;
}

.footer-content {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

.contact-info,
.working-hours,
.social-links {
  flex: 1;
  margin-right: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  border-radius: 8px;
  height: 200px;
  align-content: center;
  background-color: #f5f2ed;
  font-size: 13px;
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #df4846;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 5px;
}

ul li a {
  color: black;
  text-decoration: none;
}

ul li a:hover {
  color: #df4846;
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons li {
  margin-right: 10px;
}
.copyright {
  text-align: center;
}
@media screen and (max-width: 870px) {
  .footer-content {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    column-gap: 10px;
    height: auto;
  }
  .contact-info,
  .working-hours,
  .social-links {
    width: 375px;
    margin-top: 10px;
  }
}
