.header-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  background-color: rgb(223, 213, 194, 0.3);
}

.header-logo {
  width: 150px;
}
/* .header-title-small {
  display: none;
} */
